<!DOCTYPE HTML>
html
  head
    title Velox
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/velox.css">
  body
    .header.main-header
      nav.main-nav
        img.logo(src="http://placehold.it/130x38" alt="Логотип")
        ul.menu
          li.menu__item
            a.menu__link Services
          li.menu__item
            a.menu__link Portofolio
          li.menu__item
            a.menu__link Testimonials
          li.menu__item
            a.menu__link About
          li.menu__item
            a.menu__link Contact
      h1.title Velox One Page Template
      p.subtitle Clean, Responsive, customizable one page template
      a.button.start(href="#") Get Started Now

    div.content
      section.services
        h2.services__title Our Services
        .services__item
          h3.services__name Logo DESIGN
          p.services__text Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.
        .services__item
          h3.services__name Web Design
          p.services__text Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.
        .services__item
          h3.services__name Branding
          p.services__text Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.
        .services__item
          h3.services__name illustrations
          p.services__text Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.

      section.portfolio
        h2.portfolio__title Portfolio
        ul.portfolio-filter
          li.portfolio-filter__item
            a.portfolio-filter__link(href="#") All
          li.portfolio-filter__item
            a.portfolio-filter__link(href="#") Illustrations
          li.portfolio-filter__item
            a.portfolio-filter__link(href="#") Logo
          li.portfolio-filter__item
            a.portfolio-filter__link(href="#") Branding
          li.portfolio-filter__item
            a.portfolio-filter__link(href="#") Web Design
        .portfolio__item
          img.portfolio__image(src="http://placehold.it/380x281" alt="Agency - PSD Template")
          h3.portfolio__name Agency - PSD Template
        .portfolio__item
          img.portfolio__image(src="http://placehold.it/380x281" alt="Pure Vodka Branding")
          h3.portfolio__name Pure Vodka Branding
        .portfolio__item
          img.portfolio__image(src="http://placehold.it/380x281" alt="Web Design")
          h3.portfolio__name Web Design
        .portfolio__item
          img.portfolio__image(src="http://placehold.it/380x281" alt="Everest Logo")
          h3.portfolio__name Everest Logo
        .portfolio__item
          img.portfolio__image(src="http://placehold.it/380x281" alt="Poster Design")
          h3.portfolio__name Poster Design
        .portfolio__item
          img.portfolio__image(src="http://placehold.it/380x281" alt="illustration")
          h3.portfolio__name illustration
        button.button.portfolio__more(type="button") Show More

      section.brands
        h2.brands__title Recent Brands we’ve worked with
        img(src="http://placehold.it/124x97" alt="")
        img(src="http://placehold.it/118x78" alt="")
        img(src="http://placehold.it/145x79" alt="")
        img(src="http://placehold.it/142x82" alt="")
        img(src="http://placehold.it/104x45" alt="")
        img(src="http://placehold.it/149x45" alt="")

      section.reviews
        h2.reviews__title
        .reviews__slider тут будет слайдер

      section.contacts
        h2.contacts__title Contact Us
        h3.contacts__subtitle Our Address
        p.contacts__address House No,11132, Sector 31, Gurgaon 122001  India
        h3.contacts__subtitle Call Us
        a.contacts__link(href="tel:+919876543210") +91-9876543210<br>
        a.contacts__link(href="tel:+01262219018") + 01262219018
        h3.contacts__subtitle Email USs
        a.contacts__link(href="mailto:contactus@email.com") contactus@email.com
        form.contacts__form
          label.
        nav.sub-nav
          ul.sub-menu
            li.sub-menu__item
              a.sub-menu__link(href="#") Home
            li.sub-menu__item
              a.sub-menu__link(href="#") About
            li.sub-menu__item
              a.sub-menu__link(href="#") Services
            li.sub-menu__item
              a.sub-menu__link(href="#") Blog
            li.sub-menu__item
              a.sub-menu__link(href="#") Contact Us








