<!DOCTYPE HTML>
html
    head
        title Список макетов
    body
        h1 Список макетов
        ul
          li
            a(href="planet-express.html" target="_blank") Planet Express. Фиксированный макет 1300px.
